<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"> 
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XCP8BJ6VN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XCP8BJ6VN');
</script>


  <!-- ======================================================================= -->
  <meta charset="utf-8">
	<title>Michellehlcn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Welcome to Michellehlcn's homepage. I'm a data analysis and visualisation enthousiast with a background in Finance and Banking.">
    <meta name="keywords"
    content="Consulting,Freelance,Datascience,Training,Data,Dataviz,Datavisualization,Plot,Chart,Graph,Python,Stock, Finance, Fundamentalanalysis, Technicalanalysis, Banking, Coding">
  <meta name="author" content="Michellehlcn">


<!-- Control appearance when shared by social media -->


  <meta property="og:title" content="Michellehlcn | Data - Finance" />
 
  <meta property="og:description"
    content="Welcome to Michellehlcn's homepage. I'm a data analysis and visualisation enthousiast with a background in Finance and Banking." />
  <meta property='og:url' content="https://michellehlcn.github.io/Homepage/" />
  <meta property="og:type" content="website" />

  <!-- Bootstrap core CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">

    <!-- W3 CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 

  <!-- Custom fonts for this template -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->

  <link href="css/style.css" rel="stylesheet">

 
</head>

  <body id="page-top"data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

 <!-- Navigation -->

  <nav class="navbar navbar-expand-lg bg-white navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="js-scroll-trigger" href="#page-top">
        HOME
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#description">Intro</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger"  href="https://michellehlcn.wordpress.com" target="_blank">Blog</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- =======================  LANDING SECTION ======================= -->


  <header class="masthead">
     <div id="particles-js"></div>
    <div class="textlanding">
      <p style="display:inline; font-size: 35px; padding-left: 30px">Michellehlcn</p>
  
      <hr style=" width: 500px; height: 1px; border:none;color:#333;background-color:#333;">

      <br>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://twitter.com/Chisoulofmusic" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-buttons">
          <a href="https://github.com/michellehlcn" target="_blank">
            <i class="fa fa-github" style="color: white"></i>
          </a>
        </li>
        <li class="list-inline-item social-buttons">
          <a href="https://www.linkedin.com/in/huu-linh-chi-nguyen/" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <br><br>
      <p>Welcome to Michellehlcn's <u>homepage</u>.<br>I'm a data analysis and visualisation enthousiast with a background in Finance and Banking, currently
        working as a data analysis freelancer</p>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#description">Visit</a>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Contact</a>
    </div>
    <div class="arrowlanding">
      <a class="js-scroll-trigger" href="#description">
        <p style="font-size: 80px; color: #69b3a2">&#xfe40;</p>
      </a>
    </div>
  </header>

<!-- =======================  DESCRIPTION SECTION ======================= -->

  <section id="description" class="bg-light">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-fluid" src="images/img_profile.png" alt="Michelle's profile picture"
            style="margin-bottom: 30px; border-radius: 50%;">
        </div>
        <div class="col-lg-8 text-md-left">
          <p>Hi, I'm Michelle.</p>
          <p>My job consists in helping companies and researchers to analyse their datasets. I am skilled for most
            steps: data mining, data pre-processing, data visualization and results communication - analysis.</p>
          <p>After having worked in Banking and Finance, Accounting, I'm now working as a data analysis freelancer with a long-term goal towards technical applications in finance. </p>
         
         <p>I provide my clients with unlimited support, clear explanations, well-documented code, and actionable insights. I've developed innovative analytical tools and techniques - my own wide range of skillset over years and I believe these various tools will help me accelerate the work, simplify the complex matter and interpret the data in a way everyone can easily understand. Now in turn, let me help your business growth and overcome these hurdles. </p>

          <a class="btn btn-secondary btn-l text-uppercase"
            href="https://michellehlcn.wordpress.com" target="_blank">Blog</a>
          <a class="btn btn-secondary btn-l text-uppercase" href="https://twitter.com/Chisoulofmusic" target="_blank">Twitter</a>
          <a class="btn btn-secondary btn-l text-uppercase" href="https://github.com/michellehlcn" target="_blank">Github</a>
        </div>
      </div>



      <div class="row hide-if-small-screen" style="padding-top: 5%">
        <div class="col-lg-12 text-center">
          <svg width="1000" height="100">
            <line x1="0" y1="50" x2="1000" y2="50" style="stroke:black; stroke-width:1.5" />

            <circle cx="150" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2" />
            <text text-anchor="middle" x="150" y="80" fill="black">2013</text>
            <text font-size="13" text-anchor="middle" x="70" y="30" fill="black">Bachelor Degree</text>
            <text style="font-style: italic" font-size="13" text-anchor="middle" x="70" y="80" fill="#808080">Banking Uni.</text>

            <circle cx="350" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2" />
            <text text-anchor="middle" x="350" y="80" fill="black">2014</text>
            <text font-size="13" text-anchor="middle" x="250" y="30" fill="black">Credit Analyst Intern</text>
            <text style="font-style: italic" font-size="13" text-anchor="middle" x="250" y="80" fill="#808080">Sacombank</text>

            <circle cx="700" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2" />
            <text text-anchor="middle" x="700" y="80" fill="black">2018</text>
            <text font-size="13" text-anchor="middle" x="550" y="30" fill="black">MBA (dis.cont.), Master degree (completed)</text>
            <text style="font-style: italic" font-size="13" text-anchor="middle" x="550" y="80" fill="#808080">TAMUCC, Macquarie Uni. </text>

            

              <circle cx="850" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2" />
            <text text-anchor="middle" x="850" y="80" fill="black">2020</text>
            <text font-size="13" text-anchor="middle" x="780" y="30" fill="black">Intern</text>
            <text style="font-style: italic" font-size="13" text-anchor="middle" x="780" y="80" fill="#808080">BCS</text>

            <text font-size="13" text-anchor="middle" x="930" y="30" fill="black">Data Analyst </text>
            <text style="font-style: italic" font-size="13" text-anchor="middle" x="930" y="80"
              fill="#808080">Freelance</text>

          </svg>
        </div>
      </div>
   </div>
  </section>


  <!-- ======================================================================= -->


<!-- ======================== PORTFOLIO SECTION ============================ -->
<style>
    .explanation_portfolio {
      font-size: 14px;
      margin: 20px;
    }


</style>	  
  <section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">A glimpse of the projects I've been working on</h3>
             <div id="portfolio-button-container box-menu">
              <button class="btn btn-secondary active mixitup-control-active" data-filter="*" data-portfolio-section="*">Show All</button>
               <button class="btn btn-secondary" data-filter=".mapbox" data-portfolio-section=".mapbox">Mapbox</button>
               <button class="btn btn-secondary" data-filter=".tableau" data-portfolio-section=".tableau">Tableau</button>
                <button class="btn btn-secondary" data-filter=".datastudio" data-portfolio-section=".datastudio">Data Studio</button>
		            <button class="btn btn-secondary" data-filter=".datamining" data-portfolio-section=".datamining">Data Mining</button>
                 <button class="btn btn-secondary" data-filter=".python" data-portfolio-section=".python">Python</button>
              
            </div>
            <br>
          </div>
        </div>
        <br><br>
        <div id="portfolio-items" class="row box-list">

<!-- ======= Swing states================== -->
         
         <div class="col-lg-4 mix box-item portfolio-item show column datamining python">
          <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#id01">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content ">
                <p>Swing States</p>
                <hr>
                <p class="explanation_portfolio"> 16 battleground states voted and momentum on Electoral College Map from 1976 – 2020</div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/image2.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
        </a>
        </div>



         


<!-- ======= Tracking COVID-19 Dataset= DataStudio================ -->
        <div class="col-lg-4 mix box-item portfolio-item show column datastudio python">
          <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#id02">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content ">
                <p>Tracking COVID-19 Dataset</p>
                <hr>
                <p class="explanation_portfolio">Methodology: Python, DataStudio.</p>
                 </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/image1.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
        </a>
        </div>


          

<!-- ======= The Beats================ -->

         <div class="col-lg-4 mix box-item portfolio-item show column mapbox">
           <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="https://michellehlcn.github.io/thebeats/" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <p>TheBeats</p>
                <hr>
                <p class="explanation_portfolio">One of my very first project working as a freelancer. TheBeats.org is a NGO organization.<br></p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/image0.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
          </a>
        </div>




<!-- ======= Covid19 hotspot mapbox================ -->
         
  <div class="col-lg-4 mix box-item portfolio-item show column mapbox">
          <a class="portfolio-link"data-bs-toggle="modal" data-bs-target="#id04">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content ">
                <p>COVID-19 Hotspot</p>
                <hr>
                <p class="explanation_portfolio">A map made to track Covid-19 spreaders</p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/Image4.jpeg.jpg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
        </a>
        </div>


<!-- ======= Webpage VietnamCovid19 Dataset================ -->


        <div class="col-lg-4 mix box-item portfolio-item show column datamining python">
          <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#id05">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <p>VietnamCovid19 Dataset</p>
                <hr>
                <p class="explanation_portfolio"> A website made to track Covid-19 cases and Vaccine Rollout.</p>
                </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/image3.ipeg.png" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
        </a>
        </div>

<!-- ======= Urban Architect Mapbox================ -->
          <div class="col-lg-4 mix box-item portfolio-item show column mapbox">
            <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#id06" target="_blank"> 
              <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <p>UrbanArchitects</p>
                <hr>
                <p class="explanation_portfolio">Dataviz for most famed historical architect points from 1960's to 1990's<br></p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/4.png" border="0" class="img-fluid" alt="">
          </a>
        </div>



<!-- ======= Coming================ -->   
	 <div class="col-lg-4 mix box-item portfolio-item show column tableau">
    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="" target="_blank"> 
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <p>Coming Soon</p>
                <hr>
                <p class="explanation_portfolio"><br></p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/comingsoon.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
          </a>
        </div>



<!-- ======= Coming================ -->		
	 <div class="col-lg-4 mix box-item portfolio-item show column tableau">
    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="" target="_blank"> 
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                 <p>Coming Soon</p>
                <hr>
                <p class="explanation_portfolio"><br></p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/comingsoon.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
          </a>
        </div>



<!-- ======= Coming================ -->   
		
		 <div class="col-lg-4 mix box-item portfolio-item show column tableau">
      <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="" target="_blank"> 
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                 <p>Coming Soon</p>
                <hr>
                <p class="explanation_portfolio"><br></p>
              </div>
            </div>
            <img src="https://Michellehlcn.github.io/Homepage/comingsoon.jpeg" style="height: 100%;max-height: 300px;width: 100%;object-fit: cover;" border="0" class="img-fluid" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>


 

  <!-- ======================================================================= -->
<!-- ======= Modal content============== -->   

<!--Swing States-->
  <center>
    <div class="portfolio-modal modal fade" id="id01" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog h-100">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="modal-body">
                  <img src="https://Michellehlcn.github.io/Homepage/image2.jpeg" width="180px"></img>
                  <h1>Swing States</h1>
                  <h5><p style="max-width: 600px">16 battleground states voted and momentum on Electoral College Map from 1976 – 2020
                  </p>
                 <a class="btn btn-primary btn-l text-uppercase" href="https://michellehlcn.wordpress.com/2021/05/27/swing-states/" target="_blank">link</a></h5>
                  <br><br>
                  <div style="text-align: left">
                    <h6>Description</h6>
                    <hr>
                    <p>Historically, there were a list of states called <code>“Swing States”</code> which their states can be reasonably won by either the Democratic or Republican presidential candidate by a swing in votes. This post will break down how 16 battleground states voted and momentum on Electoral College Map from 1976 – 2020</p>

                    <p>Methodology : The chart of swing states used the methodology of Nate Silver – who is the founder of <code>@FiveThirtyEight</code> for determining tipping point states. The tipping-point state is the first state that gives the winning candidate a majority of electoral votes, thereby securing the candidate’s victory in the Electoral College. Since the number of electors was set to 538 prior to the 1964 United States presidential election, 270 votes have been required to win the Electoral College.<p>
                    
                    <p>Here is a screenshoot of the page:</p>
                    <center><img src="https://Michellehlcn.github.io/Homepage/images/swingstate2.png" width="80%"></img></center>
                    <p>Blue Walls – Wisconsin and Michigan or Pennsylvania were historically blue walls, however, in 2016 they were successfully carried by Trump by less than 1 point, Biden in 2020, inversely, had flipped them over and brought them back on their stakes</p>
                    <center><img src="https://Michellehlcn.github.io/Homepage/images/swingstate3.png" width="80%"></img></center>

                    <br><br>
                    <h6>Read more</h6>
                    <hr>
                    <span>See the full analytics on <a class="btn btn-secondary btn-l text-uppercase" href="https://michellehlcn.wordpress.com/2021/05/27/swing-states/" target="_blank" target="_blank">Wordpress</a> for more information and source code of the project</span>
                    <br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </center>


<!--DataStudio-->
  <center>
    <div class="portfolio-modal modal fade" id="id02" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog h-100">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="modal-body">
                  <img src="https://Michellehlcn.github.io/Homepage/image1.jpeg" width="180px"></img>
                  <h1>Tracking COVID-19 Dataset</h1>
                  <h5><p style="max-width: 600px">Methodology: Python, DataStudio.
                  </p>
                  <a class="btn btn-primary btn-l text-uppercase" href="https://datastudio.google.com/u/0/reporting/d7f2c5d5-5819-4445-906f-cda8deca38c9/page/0PoLC" target="_blank">link</a></h5>
                  <br><br>
                  <div style="text-align: left">
                    <h6>Description</h6>
                    <hr>
                    <p>Disclaimer: This is my personal work with no affiliation to any organisation. Data was based on the website: Vietnam Health Ministry and Johns Hopkins University Centre for Systems Science and Engineering, Reuter. The tracking data might be conflicted and unreflected the existent condition of Covid-19 pandemic in Vietnam. This page is not under any obligation to update or correct any information provided. Statements are subjected to change without notice. No compensation is received.</p>
                    <p>Here is a screenshoot of the page:</p>
                    <center><img src="https://Michellehlcn.github.io/Homepage/image1.jpeg" width="80%"></img></center>
                            
                    <br><br>
                    <h6>Read more</h6>
                    <hr>
                    <span>See the full analytics <a class="btn btn-secondary btn-l text-uppercase" href="https://datastudio.google.com/u/0/reporting/d7f2c5d5-5819-4445-906f-cda8deca38c9/page/0PoLC" target="_blank" target="_blank">github repository</a> for more information and source code of the project</span>
                    <br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </center>

<!--COVID-19 Hotspot-->
  <center>
    <div class="portfolio-modal modal fade" id="id04" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog h-100">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="modal-body">
                  <img src="https://michellehlcn.github.io/covid19hotspot/" width="180px"></img>
                  <h1>COVID-19 Hotspot</h1>
                  <h5><p style="max-width: 600px">A map made to track Covid-19 spreaders
                  </p>
                  <a class="btn btn-primary btn-l text-uppercase" href="https://datastudio.google.com/u/0/reporting/d7f2c5d5-5819-4445-906f-cda8deca38c9/page/0PoLC" target="_blank">link</a></h5>
                  <br><br>
                  <div style="text-align: left">
                    <h6>Description</h6>
                    <hr>
                    <p>The hotspots have been variously defined as areas of elevated incidence or prevalence, higher transmission efficiency or risk, or higher probability of disease emergence. To define whether that area is a hotspot is a complex matter, however, this map was based on the HCDC’s declaration which ordered the closure of suburbs immediately in order to control transmission and mitigate further spread.</p>
                    <p>Disclaimer: This is my personal work with no affiliation to any organisation. Data was based on the website: hcdc.vn. Since the number of Covid19 cases has seen risen within Hochiminh City and in Vietnam as a whole, the occurrence of a case of infection in the community with a more transmissible variant of SARS-CoV-2 (Delta variant) and opportunities for wide community exposure, I devoted myself to this page in order to help local folks in navigation of hotspots, bringing out any necessary restriction. It is an urgent task and absolutely needs everyone collaboration.</p>
                    <center><img src="https://Michellehlcn.github.io/Homepage/Image4.jpeg.jpg" width="80%"></img></center>
                            
                    <br><br>
                    <h6>Read more</h6>
                    <hr>
                    <span>See the associated <a class="btn btn-secondary btn-l text-uppercase" href="https://github.com/Michellehlcn/covid19hotspot" target="_blank">github repository</a> for more information and source code of the project</span>
                    <br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </center>


<!--VietnamCovid19 Dataset -->
  <center>
    <div class="portfolio-modal modal fade" id="id05" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog h-100">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="modal-body">
                  <img src="https://Michellehlcn.github.io/Homepage/image3.ipeg.png" width="180px"></img>
                  <h1>VietnamCovid19 Dataset</h1>
                  <h5><p style="max-width: 600px">A website made to track Covid-19 cases and Vaccine Rollout.
                  </p>

                  <a class="btn btn-primary btn-l text-uppercase" href="https://michellehlcn.github.io/VietnamCovid19Dataset/" target="_blank">link</a></h5>
                  <br><br>
                  <div style="text-align: left">
                    <h6>Description</h6>
                    <hr>
                    <p>With all my free time in lockdown, I’ve created website to collate Covid-19 data relevant to Vietnam. You can view it in this link above. This is a beta version which replaces the past tracking projects <code>Covid hotspot</code> and <code>data Studio version</code>. More features will be added in the future.Highlight features such as Dashboard, Timeline Chart of covidcases in 63 states/cities. The webpage also includes additional vaccine tracking on each state and vaccine sources in details.</p>
                    <p>Disclaimer: All data had been fetched from the official Vietnam health ministry website and extracted by me. The project is not affiliated with any association rather than for the main purpose – to help and provide more information about Cases, vaccine rollout trend, which myself thinking there has been inadequate and lack of transparency. The date which information was last updated is noted with the relevant indicators and graphs.</p>

                    <p>The data was retrieved using <code>Python</code>. It requires several
                    <code>HTML widgets, Javascripts</code> to create interactive graphs, and specific packages to interact with the database. Here is a screenshoot of the page:</p>
                    <center><img src="https://Michellehlcn.github.io/Homepage/image3.ipeg.png" width="80%"></img></center>
                     <center><img src="https://Michellehlcn.github.io/Homepage/images/cv1.png" width="80%"></img></center>
                     <center><img src="https://Michellehlcn.github.io/Homepage/images/cv2.png" width="80%"></img></center>
                     
                     <center><img src="https://Michellehlcn.github.io/Homepage/images/cv4.png" width="80%"></img></center>
                            
                    <br><br>
                    <h6>Read more</h6>
                    <hr>
                    <span>See the associated <a class="btn btn-secondary btn-l text-uppercase" href="https://github.com/Michellehlcn/VietnamCovid19Dataset" target="_blank">github repository</a> for more information and source code of the project</span>
                    <br><br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </center>


  <!-- ======================= CONTACT SECTION =============================== -->

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center"></div>
        <div class="col-lg-8 text-center">
          <br><br><br>
          <h2 class="section-heading text-uppercase" style="color: black">Contact</h2>
          <p>Feel free to reach me out for any question or open an issue or pull request on<a href="https://github.com/michellehlcn"> Github</a>. If you want to follow my work, reach me on <a
              href="https://michellehlcn.wordpress.com">Wordpress</a>. Otherwise, send me an email at <a
              href="mailto:michellehlcn.au@gmail.com">michellehlcn.au@gmail.com</a>.</p>
          <div style="text-align:center">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
              href="https://github.com/michellehlcn">Github</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
              href="https://twitter.com/Chisoulofmusic">Twitter</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
              href="mailto:michellehlcn.au@gmail.com">Mail</a>
          </div>

        </div>
      </div>
    </div>
  
  </section>


 <!-- ================================ JAVASCRIPT SECTION =============================== -->
  <!-- Bootstrap core JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
    <script>
      $(document).ready(function() {
            var mixer = mixitup('.box-list');
});
    </script>

<!-- Custom scripts for this template -->
<script src="js/appHome.js"></script>
  <script src="js/particles.js"></script>
   <script src="js/style.js"></script>
   <script src="js/jqBootstrapValidation.js"></script>
   <script src="js/style.min.js"></script>
    <script src="js/jqBootstrapValidation.min.js"></script>




</body>

 <!-- ======================= FOOTER SECTION ================================ -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">This webpage is maintained by <a href="http://michellehlcn.wordpress.com">@Michellehlcn</a></span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/R_Graph_Gallery">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/holtzy">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/yan-holtz-2477534a/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>    


   <footer>
  <p><center>This webpage is maintained by <a href="http://michellehlcn.wordpress.com">@Michellehlcn</a>
	  <br>Built with Bootstraps and Mixitup.<br></center></p>
</footer>
</html>
